.page-header
  %h3= "パスワードをリセットする"

= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = f.hidden_field :company_id

  = f.error_notification
  .form-inputs.col-md-6.col-xs-6
    = f.input :email, required: true, autofocus: true
  .form-actions.btn-group
    = f.button :submit, "パスワードをリセット"
    = render "devise/shared/links"
