!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %meta{content: "", name: "description"}
    %meta{content: "", name: "author"}
    %title Fm Starter Template

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      = javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %header
      %nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
        .container
          .navbar-header
            %button.navbar-toggle.collapsed{:type => "button", :data => {:toggle => "collapse", :target => "#navbar"}, :aria => {:expanded => "false", :controls => "navbar"} }
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to 'Fm App', main_app.root_path, class: 'navbar-brand'
            #navbar.collapse.navbar-collapse.navbar-right
              %ul.nav.navbar-nav.small
                - if user_signed_in?
                  - if current_user.root?
                    / 運用管理者
                    %li.dropdown
                      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                        %span.glyphicon.glyphicon-file 　管理者専用
                        %b.caret
                      %ul.dropdown-menu
                        %li
                          = link_to '管理者メニュー', main_app.admin_root_path
                        %li.divider
                        %li
                          = link_to main_app.admin_users_sign_out_path, method: :get, data:{ confirm: I18n.t("devise.sessions.messages.signout?") } do
                            %span.glyphicon.glyphicon-log-out= "　#{I18n.t("devise.sessions.signout")}"
                  - else
                    / ユーザ
                    %li
                      = link_to "#", rel: :tooptip, title: "Test Menu" do
                        %span.glyphicon.glyphicon-phone-alt 　Test menu
                    %li.dropdown
                      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                        %span.glyphicon.glyphicon-file 　Test group
                        %b.caret
                      %ul.dropdown-menu
                        %li
                          = link_to "#", rel: :tooptip, title: "Test Sub Menu2" do
                            %span.glyphicon.glyphicon-search　Test sub menu -1
                        %li.divider
                        %li
                          = link_to "#", rel: :tooltip, title: "Test Sub Menu2" do
                            %span.glyphicon.glyphicon-cloud-upload 　Test sub menu -2
                    %li.dropdown
                      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                        %span.glyphicon.glyphicon-wrench 　management
                        %b.caret
                      %ul.dropdown-menu
                        %li
                          = link_to "#" do
                            %span.glyphicon.glyphicon-user 　User
                        %li.divider
                        %li
                          = link_to main_app.destroy_user_session_path(current_user.company.identifier), method: :get, data: { confirm: I18n.t("devise.sessions.messages.signout?") } do
                            %span.glyphicon.glyphicon-log-out= "　#{I18n.t("devise.sessions.signout")}"
                    %li.hidden-sm.navbar-text= "　#{current_user.name}"
                - else
                  / ログインしていない
                  -if Rails.env == "development" && Company.all.size > 0
                    %li
                      = link_to main_app.new_user_session_path(Company.first.identifier) do
                        %span.glyphicon.glyphicon-log-in= "　1件目の会社にログイン（開発only）"
                    %li
                      = link_to main_app.admin_users_sign_in_path do
                        %span.glyphicon.glyphicon-log-in= "　管理者ログイン（開発only）"
                      
    .container
      %h3= yield(:title)
      - flash.each do |key, value|
        %div{:class => "alert alert-#{key}"}
          - if key == :success.to_s || key == :notice.to_s
            %span.glyphicon.glyphicon-ok
              = h(value).gsub(/\r\n|\r|\n/,"<br />").html_safe
          - elsif key == :danger.to_s 
            %span.glyphicon.glyphicon-minus-sign
              = h(value).gsub(/\r\n|\r|\n/,"<br />").html_safe
          - elsif key == :warning.to_s || key == :alert.to_s
            %span.glyphicon.glyphicon-exclamation-sign
              = h(value).gsub(/\r\n|\r|\n/,"<br />").html_safe
          - else
            = h(value).gsub(/\r\n|\r|\n/,"<br />").html_safe
      = yield
      = debug(params) if Rails.env.development?
    %footer.footer
      - if yield(:footer).empty?
        = render 'layouts/footer'
      - else
        = yield :footer
