%br
.container
  .row
    .small.col-md-4.col-xs-4
      %para
        ©2015
        = link_to 'Firstmation', 'http://firstmation.com', {target: '_blank'}
        All rights reserved.
    .footer-logo.col-md-1.col-xs-1.pull-right
