.page-header
  - if resource.company.present?
    %h3= "ログイン #{resource.company.name}"
  - else
    %h3= "運用管理者ログイン"

= simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f|
  = f.hidden_field :company_id
  .field
    .row
      .col-md-2.col-xs-2= f.label :email
      .col-md-3.col-xs-3= f.email_field :email, autofocus: true, class: "form-control"
  .field
    .row
      .col-md-2.col-xs-2= f.label :password
      .col-md-3.col-xs-3= f.password_field :password, autocomplete: :off, class: "form-control"

  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label :remember_me
  .actions.btn-group
    = f.submit "ログイン", class: "btn btn-primary"
    = render "devise/shared/links"
