.page-header
  %h3 Forbidden.
  .row
    .col-md-10
      %h4 お探しのページは存在しませんでした。URLをご確認ください。
    .col-md-1
      = link_to main_app.root_path, :class => 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
          　トップへ
  
