.page-header
  %h3 Bad request
  .row
    .col-md-10
      %h4 要求されたリクエストは不正と判断されました。URLをご確認ください。
    .col-md-1
      = link_to main_app.root_path, :class => 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
          　トップへ
  
