.page-header
  %h3= "会社一覧"

= paginate @companies
= page_entries_info @companies

.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th.small.col-md-1.col-xs-1 会社名
        %th.small.col-md-1.col-xs-1 会社識別子
        %th.small.col-md-1.col-xs-1 メールアドレス
        %th.small.col-md-1.col-xs-1 担当者
        %th.small.col-md-1.col-xs-1 電話番号１
        %th.small.col-md-1.col-xs-1 電話番号２
        %th.small.col-md-1.col-xs-1 FAX番号
        %th.small.col-md-1.col-xs-1 住所
        %th.small.col-md-1.col-xs-1 備考
        %th.small.col-md-1.col-xs-1 最終更新者
        %th.small.col-md-1.col-xs-1 更新日時
    %tbody
      - @companies.each do |company|
        %tr
          %td.small= company.name
          %td.small= company.identifier
          %td.small= company.email
          %td.small= company.contact
          %td.small= company.tel1
          %td.small= company.tel2
          %td.small= company.fax
          %td.small= "#{company.zip} #{company.address}"
          %td.small= company.info
          %td.small= company.updated_by
          %td.small= company.updated_at

= paginate @companies
= page_entries_info @companies
